<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head.ejs',{
    title: "Sneakers | Home"
  }) %>

<body>

  <%- include('./partials/header.ejs') %> 

  <main>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      
      
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="/images/banner4.jpg" class="d-block w-100" alt="">
          <!-- <a class="nombreBanner" href="">Nike KD 14</a> -->
            
        </div>
      
        <div class="carousel-item" data-bs-interval="5000">
          <img src="/images/banner5.jpg" class="d-block w-100" alt="...">
          <!-- <a class="nombreBanner" href="">Nike PG2 "Playstation"</a> -->
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <img src="/images/banner6.jpg" class="d-block w-100" alt="...">
          <!-- <a class="nombreBanner" href="">UA charged spawn 3</a> -->
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <section class="container-fluid mx-auto my-auto row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 ">

      <h2 class="w-100 text-black text-center p-2 fs-1 ">Algunos de nuestros Sneakers!</h2>
    
      <% for( let i = 0; i < 3; i++ ) { %>
      
        <div class="col">
          <a class="text-black" href="/products/detail/<%= products[i].id %> ">
            <div class="card">
              <img src="/images/<%= products[i].img %> " class="card-img-top" alt="...">
              <div class="card-body d-flex justify-content-between align-items-center flex-wrap">
                <h5 class="card-title w-100"><%= products[i].name %> </h5>
                <p class="card-text w-40 mb-0">$<%= products[i].price %> </p>
                <a href="" class="w-40 cart"><i class="fa-solid fa-cart-shopping text-success p-2 bg-white border rounded-circle shadow bg-white rounded"></i></a>
              </div>
            </div>
          </div>
          </a>
      <% } %>

      <h4 class="w-100 mt-6 fs-4 container text-center h4"><a class="text-black" href="/products">Ver más Sneakers!</a></h4>

    </section>

  </main>
  <%- include('./partials/footer.ejs') %> 
 
</body>
</html>